/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset styles */

:root {
	--tomato: hsl(4, 100%, 67%);
	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* styles for mobile */

html {
	background: var(--white);
}

.container {
	font-family: "RobotoRegular", arial, sans-serif;
	font-size: 1.25rem;
	max-width: 700px;
	margin: 0 auto;
	height: 100vh;
	justify-content: center;
	line-height: 1.75rem;
	background: var(--white);
}

.hero-image {
	content: url("./assets/images/illustration-sign-up-mobile.svg");
	width: 100%;
	height: auto;
}

.left {
	padding: 1rem;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 3rem;
}

ul {
	list-style-image: url("./assets/images/icon-list.svg");
	margin-left: 0.25rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	list-style-position: outside;
}

li {
	padding-left: 1rem;
	margin-bottom: 0.75rem;
}

.labels {
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.labels p {
	color: var(--tomato);
}

input {
	/* display: block; */
	width: 96%;
	height: 3rem;
	border-radius: 0.5rem;
	padding-left: 1rem;
	font-size: 1.15rem;
	border-color: var(--grey);
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

.error {
	background-color: hsl(4, 100%, 67%, 0.25);
	border-color: var(--tomato);
	color: var(--tomato);
}

button {
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
	background-color: var(--dark-slate-grey);
	color: var(--white);
	font-size: 1.15rem;
}

#success {
	margin-top: 5rem;
	padding: 3rem;
}

#subscriber {
	font-weight: bold;
}

.dismiss {
	margin-top: 2rem;
}
/* end of mobile design */

/* styles for larger screens */
@media (min-width: 700px) {
	html {
		background-color: var(--dark-slate-grey);
		height: 100vh;
	}

	.container {
		max-width: 1440px;
		width: 90%;
		height: 700px;
		margin: 3rem 3rem;
		padding: 0 2rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
		border-radius: 2rem;
	}

	.hero-image {
		content: url("./assets/images/illustration-sign-up-desktop.svg");
		width: 100%;
		height: auto;
		max-height: 530px;
	}

	.right {
		float: right;
		margin-left: 1rem;
		flex-basis: 50%;
	}

	.left {
		float: left;
		flex-basis: 50%;
	}

	#success {
		width: 40%;
		height: 50%;
		margin: 5rem auto;
	}
}
